.ant-table-column-title {
    color: #9198af;
}
.ant-table-thead > tr > th {
    background: #ffffff !important;
    height: 2.5rem !important;
}
  
.ant-table-tbody > tr:hover > td {
    background: #fff3f2 !important;
}

.ant-table-row.active {
    background: #fff3f2 !important;
}

.ant-table-wrapper {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.ant-table-tbody {
    height: 2.5rem;
    background: #ffffff;
}
  
.ant-table-row {
    color: #2a2d3b;
}
  
body {
    background-color: #f8f9fd !important;
}
  
.ant-modal-content {
    border-radius: 16px !important;
}
.ant-modal-header {
    height: 2.9rem;
    border-radius: 16px !important;
}
.ant-modal-title {
    border-radius: 16px !important;
}
  
.ant-modal-content .ant-btn-primary,
.ant-modal-content .ant-btn-primary:hover,
.ant-modal-content .ant-btn-primary:active {
    border-radius: 50px;
    background-color: #fa7268;
    border: #fa7268;
}
  
.ant-modal-content .ant-btn:nth-child(1) {
    border: transparent;
    background-color: white;
    color: #fa7268;
}
.ant-modal-content .input-modal {
    background-color: #ffffff !important;
}
.ant-modal-content .input-modal-phone {
    background-color: #ffffff !important;
    width: 8rem;
}
.ant-modal-body {
 color: #2a2d3b;
}              